@font-face {
  font-family: 'Alexandria';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/alexandria-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Alexandria';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/alexandria-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Alexandria';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/alexandria-semibold.woff2') format('woff2');
}
