---
import NavBar from '../layouts/NavBar.astro'
---

<html lang="ar">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body dir="rtl" class="bg-backGround bg-opacity-40">
		<NavBar/>
		<h1 class="h-screen">Astro</h1>
	</body>
</html>
