---
import Hero from '../components/Hero.astro';
import '../styles/global.css';
---

<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Falasteene</title>
  </head>
  <body class="bg-ghost-white font-alexandria">
    <main>
      <Hero />
    </main>
  </body>
</html>
