---
import '../styles/global.css';
---

<html lang="ar">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="font-alexandria bg-ghost-white">
    <h1 class="text-3xl font-light">السلام عليكم</h1>
  </body>
</html>
