---
import NavBar from '../layouts/NavBar.astro';
import '../styles/global.css';
import LiveStream from '../components/LiveStream.astro';
import NewsComponent from '../components/NewsComponent';
---

<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Falasteene</title>
  </head>
  <body>
    <NavBar />
    <main class="bg-ghost-white px-4 pb-16 font-alexandria sm:px-16 md:px-20 lg:px-28">
      <LiveStream />
      <!-- <NewsComponent client:load /> -->
    </main>
  </body>
</html>
