---
import PalestineIcon from './icons/PalestineIcon';
---

<section>
  <div
    class="mx-auto flex max-w-5xl flex-col items-center gap-10 px-4 pt-10 sm:flex-row sm:items-start">
    <div class="mt-4 text-center sm:text-right">
      <h1
        class="text-2xl font-semibold sm:text-4xl sm:leading-relaxed md:text-4xl md:leading-relaxed lg:text-5xl">
        تبرع و ساعد إخوانك المستضعفين في كامل فلسطين.
      </h1>
      <p class="mt-2 font-light sm:mt-6 sm:text-xl">
        دعوة حارة للتبرع ودعم إخواننا في فلسطين، نابعة من إيماننا وروح التضامن الإسلامية. نطلب
        بإخلاص تقديم تبرعات سخية للمساعدة في تخفيف معاناة إخوتنا في ظروف صعبة. في هذا الزمان الحرج،
        يمكننا تحقيق تأثير كبير من خلال العطاء وتقاسم المسؤولية في بناء جسور الخير والإحسان.
        بالتعاون، نعيش قيم التضامن التي يعلمنا إيماننا، ونقدم بحب ورحمة يد العون لإخوتنا في فلسطين.
      </p>
    </div>
    <PalestineIcon className="shrink-0 text-palestine-green" />
  </div>
</section>
<section>
  <div class="mt-28 px-4">
    <h1
      class="relative mx-auto max-w-5xl text-center text-2xl font-semibold sm:text-4xl sm:leading-relaxed md:text-4xl md:leading-relaxed lg:text-5xl">
      <span class="inline-block text-palestine-green">المؤمن</span>{' '}
      <span class="inline-block text-palestine-red">للمؤمن</span>{' '}
      <br class="lg:hidden" />
      <span class="inline-block font-light">كالبنيان يشد</span>{' '}
      <span>بعضه بعضًا</span>
      <sub
        class="absolute -bottom-2 left-0 text-[0.625rem] font-normal text-[#858585] sm:-bottom-7 sm:text-sm">
        متفق عليه
      </sub>
    </h1>
  </div>
  <div class="mt-6 bg-anti-flash-white px-2 py-4 sm:mt-14">
    <p class="mx-auto max-w-4xl text-center text-[0.625rem] text-[#817A99] sm:text-sm">
      مُّحَمَّدٌ رَّسُولُ اللَّـهِ وَالَّذِينَ مَعَهُ أَشِدَّاءُ عَلَى الْكُفَّارِ رُحَمَاءُ
      بَيْنَهُمْ تَرَاهُمْ رُكَّعًا سُجَّدًا يَبْتَغُونَ فَضْلًا مِّنَ اللَّـهِ وَرِضْوَانًا
      سِيمَاهُمْ فِي وُجُوهِهِم مِّنْ أَثَرِ السُّجُودِ ذَلِكَ مَثَلُهُمْ فِي التَّوْرَاةِ
      وَمَثَلُهُمْ فِي الْإِنجِيلِ كَزَرْعٍ أَخْرَجَ شَطْأَهُ فَآزَرَهُ فَاسْتَغْلَظَ فَاسْتَوَى
      عَلَى سُوقِهِ يُعْجِبُ الزُّرَّاعَ لِيَغِيظَ بِهِمُ الْكُفَّارَ وَعَدَ اللَّـهُ الَّذِينَ
      آمَنُوا وَعَمِلُوا الصَّالِحَاتِ مِنْهُم مَّغْفِرَةً وَأَجْرًا عَظِيمًا
    </p>
  </div>
</section>
