---

---

<div class="pt-14 flex flex-col items-center">
  <iframe
    class="h-[350px] md:h-[500px] lg:h-[400px] w-full "
    src="https://www.youtube.com/embed/bNyUyrR0PHo?autoplay=0"
    title="YouTube Live Stream"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="text-disabledText self-start py-4 text-sm sm:text-base md:text-lg">قد يحتوي هذا الفيديو على أنماط ضوئية أو صور يمكن أن تؤدي إلى نوبات صرع أو تسبب عدم ارتياح للأشخاص الذين يعانون من حساسيات بصرية</p>
</div>
