---
import PalestineIcon from '../components/icons/PalestineIcon';
---

<nav class="bg-white shadow-navbar">
  <div class="mx-auto flex max-w-7xl flex-col items-center px-4 py-6 sm:flex-row">
    <a href="/" class="rounded-md bg-anti-flash-white px-4 py-1 text-center">
      <PalestineIcon className="h-10 w-4 text-palestine-green" />
    </a>
    <ul
      class="mt-4 flex justify-center gap-4 text-[#858585] sm:mr-12 sm:mt-0 sm:justify-start sm:gap-12">
      <li>
        <a href="/" class="transition hover:text-black">الرئيسية</a>
      </li>
      <li>
        <a href="/telegram-channels" class="transition hover:text-black">قنوات تلغرام</a>
      </li>
      <li>
        <a href="#" class="transition hover:text-black">اتصل بنا</a>
      </li>
    </ul>
  </div>
</nav>
