---

---

<nav class="shadow-navbar bg-white">
  <div class="mx-auto flex max-w-7xl flex-col px-4 py-6 sm:flex-row">
    <a href="/" class="text-center">Logo here</a>
    <ul
      class="mt-4 flex justify-center gap-4 text-[#858585] sm:mr-12 sm:mt-0 sm:justify-start sm:gap-12">
      <li>
        <a href="/" class="transition hover:text-black">الرئيسية</a>
      </li>
      <li>
        <a href="#" class="transition hover:text-black">قنوات تلغرام</a>
      </li>
      <li>
        <a href="#" class="transition hover:text-black">اتصل بنا</a>
      </li>
    </ul>
  </div>
</nav>
